---
---
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Clifford Young for International President</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="favicon.ico" />

        <meta property="og:title" content="Clifford Young for International President" />
        <meta property="og:description" content="Clifford Young a unanimously endorsed candidate from the New York District of Key Club International, running for the position of International President." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://cliffordforip.nydkc.org" />
        <meta property="og:image" content="http://cliffordforip.nydkc.org/img/cliffordyoung.jpg" />

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <div class="container-fluid">
            <div id="main" class="row text-center">
                <div class="content container">
                    <h1>Clifford Young</h1>
                    <h2>for International President</h2>
                    <img src="img/cliffordyoung.jpg" alt="Clifford Young" class="img-circle" />
                    <p class="lead">Unanimously Endorsed by the New York District of Key Club International</p>
                </div>
            </div>

            <div id="navigation" class="row" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sections">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <span class="navbar-brand">Clifford Young for I<small>nternational </small>P<small>resident</small></span>
                </div>
                <ul id="sections" class="navigation-bar text-center nav collapse navbar-collapse">
                    <li class="active"><a href="#about" data-toggle="tab">Introduction</a></li>
                    <li><a href="#flyer" data-toggle="tab">Flyer</a></li>
                    <li><a href="#video" data-toggle="tab">Video</a></li>
                    <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
                    <li><a href="#contact" data-toggle="tab">Contact</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div id="about" class="container tab-pane fade in active">
                    <h1 class="text-center">Introduction</h1>
                    <h4 id="hello">Greetings Key Clubbers,</h4>
                    <p>Welcome to my campaign website! My name is Clifford Young and I am honored to be seeking the office of Key Club International President!</p>
                    <p>Last year, you all graciously elected me to the office of Trustee. Since then, I've been involved in the great milestones of our organization. Throughout the year, I have had the privilege of seeing how all of our different members interpret service. Additionally, I was able to learn more about what makes our organization the best service organization in the world. </p>
                    <p>Just as Key Club spans the globe, I too hail from overseas. Although, I am from the New York District my family immigrated to the United States about 30 years ago from the islands of Jamaica and Saint Vincent. (I do serve the Jamaica District also!)</p>
                    <p>Aside from Key Club, I pursue cycling through a club at my school, I have been playing the piano for the past eight years, and I love to learn about different cultures both at home and worldwide. I can't wait to meet each of you at ICON; Let's make convention a week to remember!</p>
                    <p><strong>#CliffordForIP</strong></p>
                    <h1 class="text-center">FAQ</h1>
                    <h4>What do you hope to accomplish for Key Club International?</h4>
                    <p>Key Club International has achieved record breaking membership, expanded to new countries, raised millions of dollars, and served the community in ways that are unimaginable. As we embark on our 92nd year, we need a leader who can build upon our accomplishments and set precedents for the future. My plan of enlightening, elevating, and energizing Key Club and its members will help us grow stronger.</p>
                    <h1 class="text-center">Qualifications</h1>
                    <h4>Elected offices in Key Club</h4>
                    <div>
                        <div style="float:left;">
                            <ul style="list-style-type:none;">
                                <li>International Trustee (2015-2016)</li>
                                <li>New York District Lieutenant Governor (2014-2015)</li>
                                <li>Club President (2014)</li>
                            </ul>
                            <h4>Appointed Offices in Key Club</h4>
                            <ul style="list-style-type:none;">
                                <li>2015 - 2016 Committee on Internal Development Member</li>
                                <li>2014 - 2015 New York District Eliminate Project Committee Member</li>
                                <li>2014 - 2015 New York District International Projects & Programs Committee Member</li>
                                <li>2014 - 2016 New York District SLP Pediatric Lyme Disease Committee Member</li>
                            </ul>
                            <h4>Other non- Key Club Offices held in school/ community</h4>
                            <ul style="list-style-type:none;">
                               <li>2016 - 2017 Male Leader of Archon Society</li> 
                               <li>2016 - 2017 Mayor - Student Body President</li>
                               <li>2016 - 2017 Assistant News Editor of Argus - MHS Newspaper</li>    
                               <li>2015 - 2016 Junior Class Vice President</li>
                               <li>2015 - 2016 French Club Leader</li>
                               <li>2013 - 2014 Midwood High School Freshman Representative</li>
                               <li>2013 - 2014 City Council Representative</li>
                            </ul>
                        </div>
                        <div style="float:right;">
                            <h4>Awards Received</h4>
                            <ul style="list-style-type:none;">
                                <li>Capital District Recognition of Service Award (2016)</li>
                                <li>Robert F. Lucas Outstanding Lieutenant Governor (2015)</li>
                                <li>New York District Distinguished Lieutenant Governor (2015)</li>
                                <li>New York District Distinguished Key Clubber (2014-2016)</li>
                            </ul>
                            <h4>List of Other Activities/Organizations:</h4>
                            <ul style="list-style-type:none;">
                                <li>French Club</li>
                                <li>Student Government</li>
                                <li>Arista/Archon Society</li>
                                <li>Amnesty International</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="flyer" class="container fade tab-pane">
                    <h1 class="text-center">Flyer <small>(Click to enlarge)</small></h1>
                    <div class="row">
                        <a href="CliffYoung-Gray.pdf">
                            <div class="flyer-wrapper col-sm-5 col-sm-offset-1 col-xs-6">
                                <div class="overlay-wrapper">
                                    <img src="Clifford-Gray.jpg" alt="Black and White Flyer" class="img-responsive" />
                                    <div class="overlay bw-overlay"><div class="text-container"><h1 class="text-center hidden-xs">Black & White</h1><h1 class="text-center visible-xs">B&W</h1></div></div>
                                    <img src="Clifford-Gray.jpg" alt="Black and White Flyer" class="img-responsive overlay bw-image" />
                                </div>
                            </div>
                        </a>
                        <a href="Clifford Young.pdf">
                            <div class="flyer-wrapper col-sm-5 col-xs-6">
                                <div class="overlay-wrapper">
                                    <img src="CliffYoung-FINAL-2-page-001.jpg" alt="Color Flyer" class="img-responsive" />
                                    <div class="overlay color-overlay"><div class="text-container"><h1 class="text-center">Color</h1></div></div>
                                    <img src="CliffYoung-FINAL-2-page-001.jpg" alt="Color Flyer" class="img-responsive overlay color-image" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="video" class="container fade tab-pane">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="fluid-width-video-wrapper">
                            <!--<iframe id="campaign-video" width="640" height="360" src="//www.youtube.com/embed/4p5C17Is2Q4?rel=0&color=white&theme=light&modestbranding=1" frameborder="0" allowfullscreen></iframe>-->
                            <iframe id="campaign-video" width="640" height="360" src="https://www.youtube.com/embed/owyyHah2xbg?rel=0&color=white&theme=light&modestbranding=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div id="gallery" class="container fade tab-pane">
                    <h1 class="text-center">Gallery</h1>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div id="photo-gallery" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators hidden-xs">
                                {% for i in site.data.images %}
                                    <li data-target="#photo-gallery" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
                                {% endfor %}
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                {% for image in site.data.images %}
                                    {% if forloop.first %}
                                    <div class="item active">
                                        <img src="{{ image.url }}" alt="{{ image.description }}">
                                        <div class="carousel-caption">{{ image.description }}</div>
                                    </div>
                                    {% else %}
                                    <div class="item">
                                        <img src="{{ image.url }}" alt="{{ image.description }}">
                                        <div class="carousel-caption">{{ image.description }}</div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#photo-gallery" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#photo-gallery" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="contact" class="container fade tab-pane">
                    <h1 class="text-center">Contact</h1><br>
                    <p class="text-center lead" style="margin-bottom: 5px;">
                        <span style="margin-bottom: 5px;"<span class="fa fa-envelope-o"></span> Email: cliffordyoung@nydkc.org<br>
                    </p>
                    <div class="social-buttons">
                        <div class="slide-social">
                            <div class="facebook-button button">
                                <a href="https://www.facebook.com/cliff.youngg">Clifford Young</a>
                            </div>
                            <div class="facebook icon">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="facebook slide"><p>Facebook</p></div>
                        </div>
                        <div class="slide-social">
                            <div class="twitter-button button">
                                <a href="https://twitter.com/clifford_young1">@clifford_young1</a>
                            </div>
                            <div class="twitter icon">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="twitter slide"><p>Twitter</p></div>
                        </div>
                        <div class="slide-social">
                            <div class="instagram-button button">
                                <a href="https://www.instagram.com/clifford_young1">@clifford_young1</a>
                            </div>
                            <div class="instagram icon">
                                <i class="fa fa-instagram"></i>
                            </div>
                            <div class="instagram slide"><p>Instagram</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#about" data-toggle="tab">
            <div id="scroll-more" class="hidden-xs text-center">
                <h3>Scroll </h3><i class="fa fa-angle-down"></i>
            </div>
        </a>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script><script src="js/modernizr.min.js"><\/script>');</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/cookie.js"></script>
        <script src="js/main.js"></script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-44451511-3', 'nydkc.org');ga('require','displayfeatures');ga('send', 'pageview');</script>
    </body>
</html>
